body {
  text-align: center;
  color: white;
  font-family: 'Lato', sans-serif;
  background-color: black;
}

/*image styling*/

.thumbnail {
  width: 232px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  overflow: hidden;
  position: relative;
}

img.large {
  max-width: 500px;
  padding: 10px;
}

/*div styling*/

div.infoBox {
  float: left;
  position: relative;
  margin: 0 auto;
  padding: 4px;
  width: 232px;
  margin-top: -30%;
  background-color: rgba(0,0,0,0.7);
  opacity: 0;
}

/*grid styling*/

#grid[data-columns]::before {
  content: '5 .column.size-1of5';
}

.column {
  float: left;
}

.size-1of5 {
  width: 20%;
}

div#grid {
  max-width: 1200px;
  margin: 0 auto;
}

/*header styling*/

div#search {
  margin-bottom: 20px;
  display: inline-block;
}

input#search {
  margin-left: 10px;
}

button#submitSearch {
  margin-left: 10px;
}

/*text styling*/

p {
  max-width: 400px;
  margin: 0 auto;
  color: lightgray;
}

p.info {
  color: white;
}

